/* Основные стили */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#nav-toggle {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

section h1, section h2 {
    color: #333;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Стили для видео и изображений */
video, img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

a, button {
    transition: all 0.3s ease;
}

/* Hover effect for navigation links */
nav ul li a:hover {
    color: #ddd;
    background-color: #444;
    padding: 5px;
    border-radius: 5px;
}


/* Hover effect for buttons */
button:hover {
    transform: scale(1.05); /* Slightly enlarges the button */
    background-color: #444; /* Change background color on hover */
    color: #fff; /* Ensure text contrast */
}


/* Add smooth transitions to images and videos */
video, img {
    transition: transform 0.3s ease;
}

video:hover, img:hover {
    transform: scale(1.05); /* Slightly zoom in on hover */
}




/* Адаптивность */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    #nav-toggle {
        display: block;
    }

    .hero {
        padding: 100px 20px; /* Set padding to create space around the content */
        animation: fadeIn 2s ease; /* Add the fade-in animation */
        text-align: center;
        background-color: #f0f0f0; /* Optional: add a background color instead of an image */
    }
    
    .hero h1 {
        font-size: 3em;
    }
    
    .hero p {
        font-size: 1.2em;
        color: #666;
    }
    
}

@media (max-width: 480px) {
    nav ul li {
        margin: 10px 0;
    }
}
